<h2>Editing Book</h2>
 <% @book.errors.full_messages.each do |message| %>
  <div class = "form-error">
     <%= message %>
  </div>
  <% end %>
<div class = "edit-main">
  <%= form_with model:@book , local:true do |f| %>
    <h5>Title</h5>
    <%= f.text_field :title %>
    <h5>Body</h5>
    <%= f.text_area :body %>
    <div class = "submit">
      <%= f.submit 'Update Book' %>
    </div>
  <% end %>
  <div class = "botan">
    <%= link_to 'Show', book_path(@book) %>
    <h5>|</h5>
    <%= link_to 'Back', books_path %>
  </div>
</div>
