<h2><strong>Books</strong></h2>
<div class = "main-content">
  <div class = "content-category">
    <p><strong>Title</strong></p>
    <p><strong>Body</strong></p>
  </div>
  <div class = "main">
    <% @books.each do |book| %>
      <div class = "content">
        <div class = "content-title">
          <%= book.title %>
        </div>
        <div class = "content-body">
          <%= book.body %>
        </div>
        <div class = "content-do">
          <%= link_to 'Show', book_path(book) %>
          <%= link_to 'Edit', edit_book_path(book) %>
          <%= link_to 'Destroy', book_path(book), method: :delete, "data-confirm" => "本当に削除しますか？" %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<h2><strong>New book</strong></h2>
<% if @book.errors.any? %>
  <div id = "error_explanation" class="alert">
    <h4><%= pluralize(@book.errors.count, "error") %>　prohibited this product from being saved:</h4>
    <ul>
      <% @book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<div class = "create-form">
  <%= form_with model:@book, local:true do |f| %>
    <div class = "field">
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>
    <div class = "field">
      <%= f.label :body %>
      <%= f.text_area :body %>
    </div>
    <div class = "submit">
      <%= f.submit 'Create Book' %>
    </div>
  <% end %>
</div>